$green: #58eeaa;
$black: #191919;

.header {
  .container {
    height: 100px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .logo a {
      font-weight: 700;
      text-decoration: none;
      color: $black;
    }

    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        font-size: 0.8em;
        color: $black;
      }
    }
  }

  .hamburguer-menu {
    display: none;

    z-index: 9;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;

    height: 100%;
    width: 100%;

    .menu-second-background {
      background: $black;
      z-index: -1;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;

      height: 100%;
      width: 100%;
    }

    .menu-layer {
      position: relative;
      background: $green;
      height: 100%;
      overflow: hidden;

      .menu-city-background {
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;

        width: 60%;
        height: 100%;
      }

      .menu-container {
        height: 100%;

        .menu-links {
          height: 100%;
          margin: auto;
          width: 90%;
          display: grid;
          grid-template-columns: 70% 1fr;
          grid-template-rows: 85% 1fr;
          align-items: center;

          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          nav {
            ul {
              margin: 0;
              padding: 0;
              list-style: none;

              li {
                font-size: 5em;
                overflow: hidden;
              }

              a {
                position: relative;
                color: #fff;
                text-decoration: none;
                font-weight: 700;

                transition: all 0.3s ease-in-out;

                &:hover {
                  color: $black;
                }
              }
            }
          }

          .info {
            color: #fff;

            h3 {
              font-size: 1em;
            }

            p {
              color: $black;
              font-size: 0.7em;
            }
          }

          .locations {
            color: $black;
            font-size: 0.8em;
            font-size: 600;

            span {
              &:first-child {
                margin-left: 64px;
              }

              margin: 0 30px;
              transition: 0.3s all ease-in-out;

              &:hover {
                background: #fff;
                padding: 8px 24px;
              }
            }
          }
        }
      }
    }
  }
}

// responsive design

@media screen and (max-width: 1024px) {
  .header {
    .hamburguer-menu {
      .menu-layer {
        .menu-container {
          .menu-links {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            text-align: center;
            padding: 20px 50px;

            width: auto;

            nav {
              ul {
                li {
                  font-size: 4em;
                }
              }
            }

            .locations {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .hamburguer-menu {
      .menu-layer {
        .menu-container {
          .menu-links {
            height: 80%;

            grid-template-columns: 1fr;
            grid-template-rows: auto;
            text-align: center;
            justify-content: center;
            align-items: center;

            padding: 20px 50px;

            nav {
              ul {
                li {
                  font-size: 3em;
                }
              }
            }

            .locations {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .header {
    .hamburguer-menu {
      .menu-layer {
        .menu-container {
          .menu-links {
            height: 80%;

            grid-template-columns: 1fr;
            grid-template-rows: auto;
            text-align: center;
            justify-content: center;
            align-items: center;

            padding: 20px 50px;

            nav {
              ul {
                li {
                  font-size: 2em;
                }
              }
            }

            .locations {
              display: none;
            }
          }
        }
      }
    }
  }
}
